* {
   margin: 0;
   padding: 0;
 }
 

  html, body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: $color-primario;
    margin-left: $espacio-mini;
    margin-right: $espacio-mini;
    margin-bottom: $espacio-chico;
 }

 header,
 .container-fluid {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 18px;
   padding: 20px 0;
   top: 0
   
 }


 @media (min-width: $desktop) {
 .banner {
   background-image: url('../img/banners.png');
   background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   height: 70vh;
  /*EFECTO PARALLAX*/
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 }

 h1 {
  text-decoration: underline;
   text-align: center;
   margin-top:  $espacio-medio;
   margin-bottom: $espacio-chico;
 }
h2, h3 {
  text-align: center;
  margin-top: $espacio-medio;
  margin-bottom: $espacio-medio;
}
 p {
   font-size: $fuente-media;
 }

 /*footer*/
.margenes {
   background-color: rgba(243, 140, 209, 0.6);
   text-align: center;
   width: 100%;
   margin: 0 auto;
 
 .margenes img {
   width: 50px;
   gap: 20px;
 }
}
 
 .padre-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
 }
 
 @media (min-width: $tablet) {
   .margenes {
    background-color: rgba(243, 140, 209, 0.6);
    text-align: center;
    width: 100%;
    margin: 0 auto;

    .margenes img {
      width: 70px;
      gap: 20px;
    }
   }

   .padre-redes {
     flex-direction: column;
     position: fixed;
     top: 40%;
     right: 2%;
   }
   .titulo-redes {
     display: none;
   }
 }
 .redes {
   width: 35px;
 }
 
