$color-primario: #ffc8dd;
$color-secundario: rgb(252, 186, 246);
$color-terciario: black;

/*TAMANIO FUENTE*/
$fuente-principal: 'Montserrat', sans-serif;
$fuente-chica: 15px;
$fuente-media: 25px;
$fuente-grande: 30px;

/*PANTALLAS*/
$desktop: 990px;
$tablet: 750px;
$desktopXL: 1200px;

/*MARGENES*/
$espacio-mini: 10px;
$espacio-chico: 20px;
$espacio-medio: 40px;
$espacio-grande: 60px;